<!DOCTYPE html>
<html>
  <head>
    <!-- metas =================================================
    ============================================================ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Homepage</title>
    <!-- links =================================================
    ============================================================ -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/validation.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <header class="container col-xs-12">
      <div class="row">
        <div class="back-button col-xs-1">
          <button type="button" name="button"><a href="../views/homepage.html"><i class="fa fa-chevron-left fa-3x" aria-hidden="true"></i></a></button>
        </div>
        <div class="col-xs-10">
          <h2>Sing Up</h2>
          <h6>Join now for free ride credit</h6>
        </div>
        <hr class="col-xs-12">
      </div>
    </header>

    <!-- scripts =================================================
    ============================================================ -->
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
  </body>
</html>
